<p>about works!</p>

<section>
  <form [formGroup]="form">

    <nxc-color-picker
      formControlName="color"
      (nxcAfterHide)="colorHide()"
      (valueChange)="colorChange($event)"
    >
    </nxc-color-picker>

    <nxc-input
      label="Nickname"
      [formControl]="form.get('nickname')"
      (change)="onClick($event)"
    >
    </nxc-input>

    <nxc-input
      label="Email"
      name="email"
      type="search"
      clearable="true"
      formControlName="email"
      (focusChange)="focusChange($event)"
      (blurChange)="blurChange($event)"
      (valueChange)="valueChange($event)"
    ></nxc-input>

    <nxc-input
      #nxcInput
      label="Senha"
      type="password"
      name="password"
      [togglePassword]="true"
      formControlName="password"
      (valueChange)="valueChange($event)"
    >
    </nxc-input>
  </form>

</section>