/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

section {
  margin: 10px 0 20px;

  nxc-input {
    margin-bottom: 10px;
  }
}
pre {
  padding: 9px;
  border-radius: 4px;
  background-color: black;
  color: #eee;
}

nxc-alert {
  margin-bottom: 20px;
}

nxc-menu {
  border: solid 1px var(--nxc-color-gray-90);
  border-radius: var(--nxc-border-radius-medium);
}

