<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>

<form [formGroup]="form">
  <nxc-input
    label="Email"
    name="email"
    formControlName="email"
    (valueChange)="valueChange($event)"
  ></nxc-input>

  <nxc-input
    #nxcInput
    label="Senha"
    type="password"
    name="password"
    formControlName="password"
    (focusChange)="focusChange($event)"
    (valueChange)="valueChange($event)"
    (blurChange)="blurChange($event)"
  ></nxc-input>
</form>

<pre>{{ form.value | json }}</pre>

<router-outlet></router-outlet>
