<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>

<main role="main">

  <nxc-alert type="primary" open>
    <nxc-icon slot="icon" name="info-circle"></nxc-icon>
    <strong>This is super informative</strong><br>
    You can tell by how pretty the alert is.
  </nxc-alert>

  <form [formGroup]="form">
    <nxc-input
      label="Email"
      name="email"
      formControlName="email"
      (focusChange)="focusChange($event)"
      (blurChange)="blurChange($event)"
      (valueChange)="valueChange($event)"
    ></nxc-input>

    <nxc-input
      #nxcInput
      label="Senha"
      type="password"
      name="password"
      formControlName="password"
      (valueChange)="valueChange($event)"
    >
    </nxc-input>


  </form>

  <pre>{{ form.value | json }}</pre>

  <router-outlet></router-outlet>

</main>

